<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="icon" href="images/favicon.png" type="png" />
    <script src="../app/app.js" defer></script>
    <script src="js/front.js" defer></script>
    <title>Movie Node - Main Page</title>
  </head>

  <body>
    <header>
      <h1>Welcome to Movies Node 🫡</h1>
      <h2>Explore Movies 🍿🎥</h2>
    </header>
    <section class="container">{movies}</section>
    <footer>
      <p>Made with passion ❤️ by Abdurrahman Tantawi, ©️ {currentYear}.</p>
    </footer>
  </body>
</html>
